.btn {
  color: white;
  background-color: rgb(245, 32, 32);
  border: 1px solid rgb(245, 32, 32);
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
}
.buttonHolder {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
