@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');

html {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
header {
  background-color: rgba(236, 230, 230, 0.2);
}
.add {
  width: 700px !important;
}
